.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.navbar-profile-pic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
    transition: transform 0.2s;
}

    .navbar-profile-pic:hover {
        transform: scale(1.1);
    }

.upload-video-btn {
    font-size: 1.2rem;
    margin-right: 10px;
    color: #000;
    cursor: pointer;
    transition: color 0.2s;
}

    .upload-video-btn:hover {
        color: #ff0000;
    }
